.announcement {
  margin-left:30px;
  margin-right:30px;
  padding:5px;
  line-height:150%;
  background-color:#FFFFC0;
  background: -moz-linear-gradient(top, #FFF6BD, #FFEC82);
  background: -webkit-linear-gradient(top, #FFF6BD, #FFEC82);
  background-image: -ms-linear-gradient(top, #FFF6BD 0%, #FFEC82 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF6BD', endColorstr='#FFEC82');
  border:1px solid #E1BB3B;
}