body {
  color:black;
  background-color:white;
  font-family:Arial,sans-serif;
  font-size:100%;
  margin:0px;
}
a {
  text-decoration:none;
}
a:link {
  color:#316AC5;
}
a:visited {
  color:#316AC5;
}
a:hover {
  color:#316AC5;
  text-decoration:underline;
}
img {
  border-width:0px;
}
input[type='checkbox'] {
  margin-left:1px;
	margin-right:1px;
}
textarea, input[type=text], select, input[type=password] {
  font-family:Arial,sans-serif;
  font-size:100%;
  border: 1px solid #7F9DB9;
}
table {
  font-size:100%;
}
table.fixed {
  table-layout:fixed;
}
.breadcrumb a {
  color:#316AC5 !important;
}
.dkblue_header {
  color:#2B5BAB
}
.midblue_header {
  color:#4F81BD
}
hr {
  height:1px;
  color:grey;
  background-color:grey;
  border:0px
}
.errfield {
  border: 1px solid #C00000  !important;
  box-shadow: 0 0 6px rgba(200, 0, 0, 0.85);
}
.grey {
  color: #909090;
}
#toprightmenu_icon {
  width:43px !important;
	height:20px !important;
	top:0px;
	padding-right:6px;
}
#toprightmenu {
  font-size:80%;
  display:none;
  position:absolute;
	width:150px;
	top:20px;
	right:6px;
	border:1px solid #4F81BD;
	background-color:white;
	color:black;
	padding:2px;
	z-index:1000;
}
#toprightmenu a {
	color:black;
	text-decoration: none;
}
.trm_div {
  padding-top:3px;
  padding-bottom:3px;
  padding-left:6px;
  padding-right:6px;
}
.trm_div:hover {
  cursor:pointer;
  background-color:#FFE7A2;
}
