a {
  text-decoration:none;
}
a.user {
  color:black;
}
a.user:hover {
  color:white;
  background-color:#000080;
}
td {
  font-size:110%;
}
.field {
  text-align:right;
  padding-right:10px
}
.mk {
  padding-right:10px
}
.r {
  text-align:right;
}
.redln {
  border-bottom:solid red 1px;
  line-height:150%;
}
.greyln {
  border-bottom:solid #EEEEEE 1px;
  line-height:150%;
}
.ordered {
  background-color:#F7F7F7;
}
.grey {
  color:#808080;
}
.padl {
  padding-left:6px;
}
.exclude {
  color:red;
  text-decoration:line-through;
}
.nonattend {
  color:#808080;
  background-color:#EEEEEE;
  border-bottom:solid white 1px;
}
.dist {
  color:#538135;
}
.fail {
  color:#C00000;
}
.tmpacc {
  background-color:#E0CC86;
}
.papernote {
  margin:10px;
  padding:10px;
  width:300px;
  min-height:100px;
  line-height:150%;
  float:left;
  background-color:#FCE699;
	border:1px solid #E6B10D;
}
.studentnote {
  display:none;
  position:absolute;
  top:0px;
  left:0px;
  width:350px;
  z-index:10000;
  font-size:90%;
  background-color:#FCE699;
	border:1px solid #E6B10D;
}
.staff {
  background-color:#FCD5B4;
}
.subheading {
  padding-right:2px;
  padding-bottom:5px;
  color:#1E3287;
}
.popupmenu {
  display:none;
  background-color:white;
  padding:1px;
  font-size:80%;
  position:absolute;
  top:0px;
  left:0px;
  z-index:10000;
  border:1px solid #868686;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
}
.q_no {
  padding-left:15px;
  font-weight:bold;
  vertical-align:top;
  text-align:right;
}
.q_msg {
  padding-bottom:10px;
}
