body {font-size:90%; margin-top:40px}
.topbar {
  height:70px;
  font-size:150%;
  font-weight:bold;
	color:#1f497d;
  background-color:white;
	border-bottom:1px solid #7F9DB9;
}
tt {
  font-family:'Courier New';
  font-weight:bold;
}
