.header {
  border:0px;
  font-size:100%;
  width:100%;
  border-collapse:collapse
}
.header th {
  background-color:#EEF4FF;
  font-weight:normal;
  text-align:left;
  padding:0px;
  border:0px
}
.header th.vert_div {
  background-image:url('../../artwork/header_vertical_line.gif');
  background-repeat:no-repeat;
  padding-top:2px !important;
  padding-bottom:2px !important;
	padding-left:6px;
	padding-right:5px !important;
	white-space:nowrap;
}
.header th.vert_div a{
  color:black;
}

.breadcrumb {
  margin-top:2px;
  margin-left:10px;
  font-size:90%
}

.breadcrumb a:link {
  color:#295AAD;
  text-decoration:none;
  cursor:pointer
}
.breadcrumb a:visited {
  color:#295AAD;
  text-decoration:none;
  cursor:pointer
}

.breadcrumb a:hover {
  color:#295AAD;
  text-decoration:underline;
  cursor:pointer
}

.subsect {
  margin-left:8px;
  margin-top:6px;
  margin-bottom:4px;
  color:#1F497D
}

