body {
  color: #000040;
  font-size:90%;
}
fieldset {
  border: none;
  padding: 0;
}
.exam-button {
  width: 100%;
  height: 34px;
  font-size: 120%;
  font-weight: bold;
  /*border: none;*/
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  cursor: pointer;
}
#start_exam_button {
  background-color: #26A61E;
  color: #fff;
}
#end_exam_button {
  background-color: #ff8901;
  color: #fff;
  margin-bottom: 6px;
}
.cohortlist {
  border: 1px solid #95AEC8
}
#menudiv ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#menudiv li {
  padding: 3px 0 3px 32px;
  border: 1px solid #fff;
}
#menudiv li:hover {
  background-color: #FFE7A2;
  border: 1px solid #FFBD69;
}
.menu-time {
  background: #fff url('../artwork/clock_16.png') no-repeat 6px 4px;
}
.menu-note {
  background: #fff url('../artwork/notes_icon.gif') no-repeat 6px 4px;
}
.tight {
  margin: 4px 0 2px 0;
}
.notice {
  border: 1px solid #C00000;
  padding: 0 6px;
  margin-bottom: 6px;
}
.notice h1 {
  font-size: 140%;
}
.clarifymsg {
  border: 1px solid #95AEC8;
  padding:2px;
  height:100px;
  overflow:auto;
}
.blankclarification {
	color:#C0C0C0;
	font-size:200%;
	font-weight:bold;
}
.q_no {
  font-weight:bold;
  vertical-align:top;
  text-align:right;
}
.q_msg {
  padding-bottom:10px;
}
.redwarn {
  background-color:#FFC0C0;
}