.t {
  color:black;
  text-decoration:none
}
.col {
  padding-left:5px !important;
  vertical-align:top;
}
.col10 {
  padding-left:10px !important;
  vertical-align:top;
}
.col30 {
  padding-left:30px !important;
  vertical-align:top;
}
.l:hover {
  cursor:pointer;
  background-color:#FFE7A2;
}
.highlight {
  background-color:#FFBD69 !important
}
.deleted {
  color:#808080;
}
.no {
  text-align:right;
  padding-right:10px
}