html {margin:0px; padding:0px}
body {background-color:#FFFFFF;color:#000000;padding:0px;border:0px;font-size:90%}
li {margin-left:15px;margin-right:15px;font-size:100%}
select,input{font-family:$font,sans-serif;font-size:100%}
table {font-size:100%;table-layout:fixed}
p {margin-top:0px;padding-top:0px}
pre {font-family:Arial,sans-serif;font-size:100%}
.paper {margin-left:10px; font-family:Arial,sans-serif; font-size:180%; color:black; font-weight:bold}
.q_no {width:40px; text-align:right;vertical-align:top}
.theme {font-size:150%;padding-left:4px;font-weight:bold;color:#316AC5}
.note {color:#C00000}
.mk {color:#808080;font-size:80%}
.act {color:black;text-decoration:none}
.inact {color:#A5A5A5;text-decoration:line-through}
.s0 {width:18px;text-align:center;background-color:#003366;font-size:80%}
.s1 {width:18px;text-align:center;background-color:#C00000;font-size:80%}
.unans {background-color:#FFC0C0}
.matrix {border:1px solid #808080; border-collapse:collapse;margin-left:35px;margin-bottom:15px}
.matrix td {border:1px solid #808080}
.extmatch li {padding-bottom:14px; vertical-align:text-bottom; list-style-type:lower-roman}
.extmatch_opt_table {border-collapse:collapse; margin-left:auto; margin-right:auto; border:1px solid #C0C0C0}
.extmatch_opt_table td {border:1px solid #C0C0C0}
.extmatch_opt_table ol {list-style-type:upper-alpha}
.mee {font-size:120%; display:inline}
.likert_button {text-align:center;width:40px;vertical-align:top}
.latex {vertical-align:middle}
.likert_button {text-align:center;width:40px;vertical-align:top}
.latex {vertical-align:middle}
