html {
  overflow:hidden;
  height:100%;
  margin:0;
  padding:0
}
body {
  padding:0;
  border:0;
  font-size:90%;
  height:100%;
}
li {
  margin-left:15px;
  margin-right:15px;
  font-size:100%
}
table {
  table-layout:fixed;
}
p {
  margin-top:0;
  padding-top:0;
}
pre {
  font-family:Arial,sans-serif;
  font-size:100%
}
.paper {
  margin-left:5px;
  font-size:180%;
  color:white;
  font-weight:bold
}
.screens {
  margin-left:5px;
  color:white;
  font-weight:bold
}
.q_no {
  width:40px;
  text-align:right;
  vertical-align:top
}
.theme {
  font-size:150%;
  padding-left:4px;
  font-weight:bold;
  color:#316AC5;
}
.note {
  color:#C00000;
}
.mk {
  color:#808080;
  font-size:80%;
  padding-top:4px
}
.calc_fb {
  color:#808080;
  font-size:80%;
}
.act {
  color:black;
  text-decoration:none
}
.inact {
  color:#A5A5A5;
  text-decoration:line-through
}
.scr_ans {
  font-weight:bold;
  padding:1px;
  width:18px;
  text-align:center;
  background-color:#003366;
  color:white;
  font-size:80%;
  margin-right:1px;
  float:left
}
.scr_un {
  font-weight:bold;
  padding:1px;
  width:18px;
  text-align:center;
  background-color:#FFC0C0;
  color:#800000;
  font-size:80%;
  margin-right:1px;
  float:left
}
.scr_cur {
  font-weight:bold;
  padding:1px;
  width:18px;
  text-align:center;
  background-color:#C00000;
  color:white;
  font-size:80%;
  margin-right:1px;
  float:left
}
.scr_arrow {
  width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 8px solid #C00000;
  float:left
}
.scr_spacer {
  width:20px;
  height:1px;
  margin-right:1px;
  float:left
}
.unans {
  background-color:#FFC0C0
}
.matrix {
  border:1px solid #808080;
  border-collapse:collapse;
  margin-left:35px;
  margin-bottom:15px
}
.matrix td {
  border:1px solid #808080
}
.extmatch li {
  padding-bottom:14px;
  vertical-align:text-bottom;
  list-style-type:lower-roman
}
.extmatch_opt_table {
  border-collapse:collapse;
  margin-left:auto;
  margin-right:auto;
  border:1px solid #C0C0C0
}
.extmatch_opt_table td {
  border:1px solid #C0C0C0
}
.extmatch_opt_table ol {
  list-style-type:upper-alpha
}
.mee {
  font-size:120%;
  display:inline
}
.likert_button {
  text-align:center;
  width:40px;
  vertical-align:top
}
.latex {
  vertical-align:middle
}
.thetime {
  font-size:120%;
  width:70px;
  background-color:transparent;
  text-align:center;
  font-size:90%;
  color:white;
  border:0px
}
#maincontent {
  font-size:100%;
  top:0px;
  overflow:auto;
  height:100%;
}
.framecontent {
  padding:6px;
  font-size:95%;
  position:absolute;
  top:30px;
  right:0px;
  overflow:auto;
  background:white;
  color:black;
  border-left: 1px solid #535353;
}
.refhead {
  font-size:14pt;
  font-weight:bold;
  border-bottom:1px solid #C0C0C0;
  padding:6px;
  position:fixed;
  height:18px;
  right:0px;
  border-left: 1px solid #535353;
  background: #EEEEEE;
}
#next {
  width:120px;
}
#finish {
  width:120px;
  font-weight:bold;
}
#prevous {
  width:120px
}
#savemsg {
  margin-right:5px;
}
#saveError {
  display:none;
  margin-left:25%;
  margin-bottom:5px;
  width:45%;
  height:60px;
	padding:0px;
  border: 2px solid #C42828;
}
#saveError div { 
  font-size:110%;
  margin-top: -58px;
  margin-left: 80px;
  height:60px;
  width: 80%;
  text-align: left;
  line-height:150%;
}
.exam_announcement_box {
  width:80%;
  margin-left:10%;
  margin-right:10%;
  margin-top:10px;
  margin-bottom:10px;
  padding:5px;
  background-color: #FFF2CB;
  border:1px solid #F18103;
  border-radius:4px;
}
.exam_announcement_box ul {
  margin:0;
  padding:0;
}
.exam_announce_icon {
  width:56px;
  vertical-align:top;
}
.exam_announce_title {
  color:#F18204;
  font-weight:bold;
  font-size:120%;
  padding-bottom:10px;
}
