.tabon {
	vertical-align:middle;
	padding-top:0px;
	cursor:pointer;
	width:126px;
	height:21px;
	color:white;
	text-align:center;
	font-weight:bold;
	font-size:100%;
	background-color:#1E3C7B;
	border-left:1px solid #F1F5FB;
}
.taboff {
	vertical-align:middle;
	padding-top:0px;
	cursor:pointer;
	width:126px;
	height:21px;
	color:white;
	text-align:center;
	font-weight:bold;
	font-size:100%;
	background-color:#517DBF;
	border-left:1px solid #F1F5FB;
}
.tabyellow {
	vertical-align:middle;
	padding-top:0px;
	cursor:pointer;
	width:180px;
	height:21px;
	color:black;
	text-align:center;
	font-weight:bold;
	font-size:100%;
	background-color:#ECB01F;
	border-left:1px solid #ECB01F;
}