body {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
td {
	line-height:150%;
	text-align:justify;
}
.heading {
	background-color:#EBEADB;
	color:black;
}
#question_pane {
	width: 50%;
	overflow: auto;
	position: absolute;
	top: 56px;
	left: 0;
	bottom: 0;
}
#answer_pane {
	overflow: auto;
	position: absolute;
	top: 56px;
	left: 50%;
	width: 50%;
	bottom: 0;
	border-left: 1px solid #808080;
	margin-left: -1px;
}
.number {
	vertical-align:top;
	text-align:right;
	border-bottom:1px solid #CBC7B8;
	width: 30px;
	padding-right: 6px;
}
.header {
	overflow: auto;
	position: absolute;
	width: 100%;
	height: 56px;
	font-size: 90% !important;
}
.student_ans {
	border-bottom: 1px solid #CBC7B8;
	padding-right: 10px;
}
.student_unans {
	border-bottom: 1px solid #CBC7B8;
	padding-right: 10px;
	color: #C00000;
}
