body {
  background-color: #DCDDDE;
  color: black;
  font-size: 100%;
  margin: 2px
}

#calculator {
  margin-top: 18px;
}

table, td {
  font-size: 100%;
  border-spacing: 0px;
  padding: 0px;
  border-collapse: collapse
}

form {
  margin: 0
}

h1 {
  font-size: 150%;
  color: black
}

h2 {
  font-size: 140%;
  color: #f27000
}

*.b {
  padding: 0px;
  margin: 1px;
  width: 40px
}

a {
  text-decoration:none;
}

a:hover {
  text-decoration:none;
}

a.del {
  border-radius: 4px;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #CC9933;
  color: white !important;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: block;
  font-size: 110%
}

a.ac {
  /*width:81px;*/
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #C00000;
  color: white !important;
  display: block;
  font-size: 110%
}

.ac:hover {
  background: #AD0101;
  text-decoration:none;
}

a.b1, .label-button {
  text-decoration: none;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #696A6A;
  color: white !important;
  display: block;
  font-size: 80%
}

.b1:hover {
  background: #454646;
  text-decoration: none;
}

a.b2 {
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #454646;
  color: white !important;
  display: block;
  font-size: 110%
}

.b2:hover {
  background: #292929;
  text-decoration: none;
}

a.b3 {
  background-color: #ECB01F;
  color: black !important;
}

a.b3:hover {
  background-color: #ECB01F;
  color: black !important;
  text-decoration: none;
}

.trigmode, a.memBut {
  font-size: 90%
}

#ans {
  border: 1px solid #C0C0C0;
  background-color: white;
  height: 22px;
  width: 210px;
  font-weight: bold;
  font-size: 12pt;
  text-align: right;
}

/*#ans-holder {border:1px solid #C0C0C0; background-color:white; height:26px; width:210px; overflow: hidden; position: relative}*/
/*#ans {text-align:right; background-color:white; font-size:110%; height:24px; line-height:100%; font-weight:bold; position: absolute; right: 0; top: 0; overflow: visible}*/
*.LCD {
  display: none
}

*.memory {
  text-decoration: none;
  border: 1px solid #ededed;
  line-height: 20px;
  background-color: #ededed;
  text-align: left;
  font-size: 90%;
  color: #000040;
  width: 100%
}

.path {
  background-color: #F2F2F2;
  color: #666666;
  font-size: 80%;
  padding-left: 10px;
  border-bottom: 1px solid #B6B6B6
}

.subheading {
  font-weight: bold;
  font-style: italic
}

.tutorial {
  background-color: #FCF6CF;
  width: 95%;
  cursor: pointer
}

tr.spaced td {
  padding-top: 8px;
}

label {
  font-size: 80%;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.label-button {
  width: 40px;
  float: left;
  margin: 0 1px 0 1px;
  overflow: hidden;
}

.label-button.selected {
  background-color: #ECB01F;
	color: black !important;
}

.label-button.off {
  background-color: #C00000;
  color: white !important;
  font-weight: bold;
  margin-left: 43px;
}
